@media (prefers-color-scheme: dark) {
    html {
        --foreground-color: #ffffff;
        --background-color: #000000;
    }
    .light {
        display:none;
    }
}

@media (prefers-color-scheme: light) {
    html {
        --foreground-color: #000000;
        --background-color: #ffffff;
    }
    .dark {
        display:none;
    }
}

html, body {
    font-family: sans-serif;
    margin:0px;
    background-color: var(--background-color);
}

#page {
    display: grid;
    grid-template-rows: 8rem auto;          /* titlebar takes up 8rem of space */
    grid-template-columns: 1fr 1fr 3fr 1fr; /* main div takes up 2/3 of screen, 1/4 of that 
                                               for sidebar, 3/4 for content */
    height: 100vh;                          /* height of page is viewport height */
    padding: 0px;
    margin: 0px;
}

#titlebar {
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;
    line-height: 5rem;
    padding-top: 0.5rem;
    color: #ff0000;
    font-size: 3rem;
    font-weight: bold;
    white-space: nowrap;
}

.icon {
    width: 3rem;
    vertical-align: middle;
}

#sidebar {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    color: var(--foreground-color);
    min-width: 15rem;
}

.sidebar-item {
    display: inline-block;
    vertical-align: middle;
    padding: 0.5rem;
    overflow: hidden;
    text-decoration: none;
    color: var(--foreground-color);
    white-space: nowrap;
}

.sidebar-item:hover {
    color: var(--foreground-color);
    text-decoration: underline;
}

.appstore {
    max-width: 10rem;
}

#content-area {
    padding: 0rem;
    overflow: scroll;
    color: var(--foreground-color);
    line-height: 1.5rem;
}
#content-area a {
    color: #7BFA4C;
}

#screenshot-gallery {
    margin-top: 2rem;
    overflow-x: scroll;
    white-space: nowrap;
    text-align: center;
}

.screenshot {
    width: 12rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
}